In [1]:
import warnings
warnings.filterwarnings("ignore")

In [2]:
import pandas as pd
import numpy as np
import pymysql
from datetime import datetime
import re
import boto3
import joblib
from io import BytesIO

aws_key = "AKIAR77AGTPEQHTUI3OK"
aws_secret = "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"

# Crea un cliente de S3
s3 = boto3.client('s3', aws_access_key_id=aws_key, aws_secret_access_key=aws_secret)

# Especifica el nombre del bucket y la clave del archivo .pkl en S3

bucket_name = 'volana-datalake'
key_model = 'analytics/modelo_riesgo_volana/dev/06_model_output/documents/models/modelo_regresion_logistica.pkl'

key_model = 'analytics/modelo_riesgo_volana/dev/06_model_output/documents/models/modelo_regresion_logistica.pkl'
key_cc_scaler = 'analytics/modelo_riesgo_volana/dev/06_model_output/documents/scalers/data_cc_scaler.pkl'
key_demo_scaler = 'analytics/modelo_riesgo_volana/dev/06_model_output/documents/scalers/data_demo_scaler.pkl'

key_columnas_usar = 'analytics/modelo_riesgo_volana/dev/06_model_output/documents/lists/columnas_usar.txt'

key_deciles = 'analytics/modelo_riesgo_volana/dev/06_model_output/documents/lists/deciles.txt'

key_perdida_cosecha = 'analytics/modelo_riesgo_volana/dev/06_model_output/documents/lists/perdida_cosecha.txt'
# Descarga el archivo .pkl de S3

# Extrayendo prospectos

In [3]:
def excel_to_datetime(excel_date):
    # Excel date base is January 1, 1900
    base_date = pd.Timestamp('1900-01-01')
    # Convert the Excel date number to a pandas Timedelta
    delta = pd.Timedelta(days=excel_date - 2)  # Subtract 2 days: one for the Excel leap year bug and one for inclusive counting
    # Add the delta to the base date
    result_date = base_date + delta
    return result_date

In [4]:
data_perdida_cosecha = pd.read_excel("./data/240531 PERDIDA DE COSECHA.xlsb", sheet_name = 'COLOCACION', header = 1)
data_perdida_cosecha.columns = [k.lower().replace(" ", "_") for k in data_perdida_cosecha.columns]
data_perdida_cosecha.rename(columns={"id_dist.":"id_distribuidor"}, inplace = True)

In [5]:
def primer_no_nulo_fila(fila):
    return fila[fila.first_valid_index()]

# Aplicar la funci√≥n a cada fila del DataFrame
data_perdida_cosecha['id_distribuidor_usar'] = data_perdida_cosecha[['id_distribuidor_linea_de_credito', 'id_distribuidor']].apply(primer_no_nulo_fila, axis=1)

In [6]:
data_perdida_cosecha_usar = data_perdida_cosecha[['id_distribuidor_usar', 'id_distribuidor','perdida_de_cosecha', 'capital', 'tasa', 'inicio_credito', 'fin_credito']]
data_perdida_cosecha_usar.inicio_credito = data_perdida_cosecha_usar.inicio_credito.apply(excel_to_datetime)
data_perdida_cosecha_usar.fin_credito = data_perdida_cosecha_usar.fin_credito.apply(excel_to_datetime)
data_perdida_cosecha_usar.head()

,id_distribuidor_usar,id_distribuidor,perdida_de_cosecha,capital,tasa,inicio_credito,fin_credito
0,125565.0,125565,0.000000,3000.0,162.56,2023-01-15,2023-05-31
1,115345.0,139409,-0.206619,14000.0,132.00,2023-01-09,2023-06-15
2,93913.0,139418,-0.412389,25000.0,110.00,2023-01-13,2023-08-15
3,8514.0,8514,0.000000,6000.0,173.60,2023-01-15,2023-04-30
4,22763.0,22763,0.000000,6000.0,173.60,2023-01-15,2023-04-30

In [7]:
data_perdida_cosecha_usar["perdido_capital"] = abs(data_perdida_cosecha_usar.perdida_de_cosecha * data_perdida_cosecha_usar.capital)
data_perdida_cosecha_usar["tasa_ponderada"] = abs(data_perdida_cosecha_usar.tasa * data_perdida_cosecha_usar.capital)

In [8]:
data_perdida_cosecha_solo = (data_perdida_cosecha_usar.groupby("id_distribuidor_usar").perdido_capital.sum() / data_perdida_cosecha_usar.groupby("id_distribuidor_usar").capital.sum()).reset_index()
data_perdida_cosecha_solo.columns =['id_distribuidor_usar', 'perdida_ponderada']
data_perdida_tasa_solo = (data_perdida_cosecha_usar.groupby("id_distribuidor_usar").tasa_ponderada.sum() / data_perdida_cosecha_usar.groupby("id_distribuidor_usar").capital.sum()).reset_index()
data_perdida_tasa_solo.columns = ['id_distribuidor_usar', 'tasa_ponderada']

In [9]:
data_perdida_cosecha_tasa_usar_2 = data_perdida_tasa_solo.merge(data_perdida_cosecha_solo)
data_perdida_cosecha_tasa_usar_2.head()

   id_distribuidor_usar  tasa_ponderada  perdida_ponderada
0                 116.0      164.358217                0.0
1                 455.0      149.506189                0.0
2                 480.0      167.180622                0.0
3                 576.0      118.951057                0.0
4                 797.0      132.291450                0.0

In [10]:
ids_distribuidores = data_perdida_cosecha_usar[['id_distribuidor_usar', 'id_distribuidor']].drop_duplicates("id_distribuidor_usar")

In [11]:
data_perdida_cosecha_tasa_usar = data_perdida_cosecha_tasa_usar_2.merge(ids_distribuidores, 
                                       on='id_distribuidor_usar')

## Demogr√°ficos

In [12]:
ids = ", ".join(data_perdida_cosecha_usar.id_distribuidor_usar.astype(str))

In [13]:
sql_demograficos = f"""
 SELECT * FROM
    (select id, fecha_nacimiento,
           estado, sucursal, 
           escolaridad, estado_civil, dependientes, tipo_vivienda,
            sexo,
           tiempo_vivienda, ingreso_neto, experiencia,
           tipo_negocio, tiempo_op_negocio,capacidad_pago_semanal
           from demograficos_distribuidores 
    UNION
    select id, fecha_nacimiento,
           estado, sucursal, 
           escolaridad, estado_civil, dependientes, tipo_vivienda,
           sexo,
           tiempo_vivienda, ingreso_neto, experiencia,
           tipo_negocio, tiempo_op_negocio, capacidad_pago_semanal
           from cc_prospectos_demograficos
    ) as pen
     -- where pen.id in ({ids})
"""

In [14]:
cnx = pymysql.connect(host='159.89.90.197', port = 3306, user='antonio_diaz', passwd="4nT0ni_0.dZ",
                               charset='utf8',db = 'volana')
cursor = cnx.cursor()
cursor.execute(sql_demograficos)
data_demo = cursor.fetchall()
data_demo = pd.DataFrame(data_demo, columns=[i[0] for i in cursor.description])
cnx.close()
data_demo = data_demo.rename(columns = {"id":"id_distribuidor"})

In [15]:
data_demo

,id_distribuidor,fecha_nacimiento,estado,sucursal,escolaridad,estado_civil,dependientes,tipo_vivienda,sexo,tiempo_vivienda,ingreso_neto,experiencia,tipo_negocio,tiempo_op_negocio,capacidad_pago_semanal
0,1,1977-01-22,Jalisco,AMECA,Secundaria,Casada (o),3,Propia,FEMENINO,12 A√ëOS 1 MESES,"$8,765.00",NO,VENTA POR CATALOGO,10 A√ëOS 1 MESES,NaN
1,19,1989-08-31,Jalisco,AMECA,Secundaria,Casada (o),2,None,FEMENINO,0 A√ëOS 0 MESES,"$5,980.00",NO,VENTA DE ALIMENTOS,1 A√ëOS 1 MESES,NaN
2,29,1985-12-11,Jalisco,AMECA,Primaria,Uni√≥n Libre,2,None,FEMENINO,0 A√ëOS 0 MESES,"$5,190.00",NO,VENTA POR CATALOGO,3 A√ëOS 1 MESES,NaN
3,38,1976-03-01,Jalisco,AMECA,Secundaria,Casada (o),2,Rentada,FEMENINO,4 A√ëOS 1 MESES,"$10,000.00",NO,VENTA DE ALIMENTOS,3 A√ëOS 6 MESES,NaN
4,51,1975-08-07,Jalisco,AMECA,Primaria,Casada (o),2,None,FEMENINO,0 A√ëOS 0 MESES,"$10,000.00",NO,VENTA DE ALIMENTOS,10 A√ëOS 1 MESES,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15784,193025,1975-07-13 00:00:00,M√©xico,NEZAHUALCOYOTL,Tecnico,Soltera (o),1,Familiar,FEMENINO,0 A√ëOS 0 MESES,"$16,000.00",NO,Venta De Alimentos,5 A√ëOS 11 MESES,-553.0
15785,192584,1989-08-12 00:00:00,Jalisco,TONALA,Bachillerato,Casada (o),0,Familiar,MASCULINO,0 A√ëOS 0 MESES,"$10,000.00",NO,Venta De Ropa,3 A√ëOS 0 MESES,2300.0
15786,193276,1983-04-22 00:00:00,M√©xico,CHIMALHUACAN 2,Secundaria,Soltera (o),1,Propia,FEMENINO,0 A√ëOS 0 MESES,"$10,000.00",NO,Fabrica/Taller/Elaboracion/Reparacion,20 A√ëOS 0 MESES,900.0
15787,193023,2002-10-03 00:00:00,Distrito Federal,TLAHUAC,Bachillerato,Soltera (o),0,Familiar,FEMENINO,0 A√ëOS 0 MESES,"$15,600.00",NO,Belleza/Salon/Estetica/Barberia,5 A√ëOS 5 MESES,1800.0
15788,193309,1986-11-06 00:00:00,M√©xico,CHIMALHUACAN 2,Bachillerato,Uni√≥n Libre,1,Familiar,FEMENINO,0 A√ëOS 0 MESES,"$10,000.00",NO,Venta De Ropa,5 A√ëOS 4 MESES,1900.0

### Limpieza

In [16]:
data_demo.drop(['capacidad_pago_semanal'], axis = 1, inplace=True)
variables_cambiar_por_moda = ['tipo_vivienda', 'estado_civil']
for var in variables_cambiar_por_moda:
    moda = data_demo[var].value_counts().index[0]
    data_demo[var] = data_demo[var].fillna(moda)
    print(f"moda para {var}: {moda}")

moda para tipo_vivienda: Familiar
moda para estado_civil: Casada (o)

In [17]:
data_demo.isna().any()

id_distribuidor      False
fecha_nacimiento      True
estado               False
sucursal             False
escolaridad          False
estado_civil         False
dependientes         False
tipo_vivienda        False
sexo                 False
tiempo_vivienda      False
ingreso_neto         False
experiencia          False
tipo_negocio          True
tiempo_op_negocio    False
dtype: bool

In [18]:
# Funciones necesarias
def processing_calcular_edad(fecha_nacimiento):
    fecha_nacimiento = pd.to_datetime(fecha_nacimiento) 
    fecha_actual = datetime.now()
    try:
        edad = fecha_actual.year - fecha_nacimiento.year - ((fecha_actual.month, fecha_actual.day) < (fecha_nacimiento.month, fecha_nacimiento.day))
        return edad
    except:
        return 35

def processing_quitar_cadenas_texto(txt):
    
    txt = txt.lower()
    txt = txt.replace(" ", "_")
    txt = txt.replace("_(o)", "")
    txt = txt.replace("$", "")
    txt = txt.replace(",", "")
    txt = txt.replace(".00", "")
    
    txt = txt.replace("√°", "a")
    txt = txt.replace("√©", "e")
    txt = txt.replace("√≠", "i")
    txt = txt.replace("√≥", "o")
    txt = txt.replace("√∫", "u")
    return txt

def processing_extraer_primer_numero(cadena):
    # Buscar el primer n√∫mero en la cadena utilizando una expresi√≥n regular
    match = re.search(r'\d', cadena)
    
    # Si se encuentra un n√∫mero, devolverlo como entero
    if match:
        return int(match.group())
    # Si no se encuentra ning√∫n n√∫mero, devolver 3
    else:
        return 3
    
def processing_agrupar_categorias(value_counts, lista):
    # Crear un diccionario para almacenar el mapeo de categor√≠as
    mapeo = {}
    
    # Iterar sobre los value counts
    for categoria, conteo in value_counts.items():
        # Si el conteo es menor que 10, agruparlo en "otro"
        if conteo < 50:
            mapeo[categoria] = "otra"
        # Si el conteo es mayor o igual a 10, mantener la categor√≠a original
        else:
            mapeo[categoria] = categoria
    
    # Aplicar el mapeo a la lista y devolver la lista resultante
    return [mapeo.get(categoria, "otra") for categoria in lista]


# Fecha nacimiento cambiarla por edad
data_demo['edad'] = data_demo.fecha_nacimiento.apply(processing_calcular_edad)
data_demo.drop(['fecha_nacimiento'], axis = 1, inplace=True)

# Estandarizar textos
for col_str in data_demo.select_dtypes(['object']).columns:
    
    data_demo[col_str] = data_demo[col_str].fillna("otra")
    data_demo[col_str] = data_demo[col_str].apply(processing_quitar_cadenas_texto)
    

data_demo.ingreso_neto = data_demo.ingreso_neto.astype(float)
#quitando el a√±os y meses
data_demo.tiempo_op_negocio = data_demo.tiempo_op_negocio.apply(processing_extraer_primer_numero)

data_demo.tiempo_vivienda = data_demo.tiempo_vivienda.apply(processing_extraer_primer_numero)
data_demo.tiempo_vivienda = data_demo.tiempo_vivienda.astype(int)

data_demo.tipo_negocio = processing_agrupar_categorias(data_demo.tipo_negocio.value_counts(), data_demo.tipo_negocio)
data_demo.tipo_negocio = data_demo.tiempo_vivienda.astype(int)

data_demo.id_distribuidor = data_demo.id_distribuidor.astype(str)

In [19]:
data_demo

,id_distribuidor,estado,sucursal,escolaridad,estado_civil,dependientes,tipo_vivienda,sexo,tiempo_vivienda,ingreso_neto,experiencia,tipo_negocio,tiempo_op_negocio,edad
0,1,jalisco,ameca,secundaria,casada,3,propia,femenino,1,8765.0,no,1,1,47
1,19,jalisco,ameca,secundaria,casada,2,familiar,femenino,0,5980.0,no,0,1,34
2,29,jalisco,ameca,primaria,union_libre,2,familiar,femenino,0,5190.0,no,0,3,38
3,38,jalisco,ameca,secundaria,casada,2,rentada,femenino,4,10000.0,no,4,3,48
4,51,jalisco,ameca,primaria,casada,2,familiar,femenino,0,10000.0,no,0,1,48
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15784,193025,mexico,nezahualcoyotl,tecnico,soltera,1,familiar,femenino,0,16000.0,no,0,5,48
15785,192584,jalisco,tonala,bachillerato,casada,0,familiar,masculino,0,10000.0,no,0,3,34
15786,193276,mexico,chimalhuacan_2,secundaria,soltera,1,propia,femenino,0,10000.0,no,0,2,41
15787,193023,distrito_federal,tlahuac,bachillerato,soltera,0,familiar,femenino,0,15600.0,no,0,5,21
15788,193309,mexico,chimalhuacan_2,bachillerato,union_libre,1,familiar,femenino,0,10000.0,no,0,5,37

In [20]:
from sklearn.preprocessing import StandardScaler

import joblib
cols = ['dependientes', 'tiempo_vivienda', 'ingreso_neto', 'tipo_negocio',
       'tiempo_op_negocio', 'edad']

response = s3.get_object(Bucket=bucket_name, Key=key_demo_scaler)
demo_scaler_bytes = response['Body'].read()
# Carga el modelo usando joblib
scaler_loaded = joblib.load(BytesIO(demo_scaler_bytes))


variables_numericas_escaladas = pd.DataFrame(scaler_loaded.transform(data_demo[cols]), columns = cols)

data_demo_scaled = pd.concat([data_demo.drop(cols, axis=1), variables_numericas_escaladas], axis = 1)

## Creditos

In [21]:
sql_cc = f"""
SELECT 	consultas.id_distribuidor, 
		cuentas.*
FROM
 (SELECT 
	folioConsulta as 'folio', 
	sum(SaldoVencido) as 'saldo_vencido_total', 
    sum(NumeroPagosVencidos) as 'pagos_vencidos',
    count(folioConsulta) as 'creditos_totales',
    count(ClavePrevencion) as 'creditos_con_claves_prevencion',
    COUNT(IF(SaldoVencido = 0, NULL, 1)) as 'creditos_completados_con_atraso',
    COUNT(IF(SaldoVencido = 0, 1, NULL)) as 'creditos_completados_sin_atraso'
 FROM cc_prospectos_creditos 
 group by folioConsulta ) as cuentas 
 left join (select max(folioConsulta) as 'folio', idCliente as 'id_distribuidor' from cc_prospectos_folios group by idCliente) as consultas
 ON cuentas.folio = consultas.folio
 -- where consultas.id_distribuidor in ({ids})
 """

In [22]:
cnx = pymysql.connect(host='159.89.90.197', port = 3306, user='antonio_diaz', passwd="4nT0ni_0.dZ",
                               charset='utf8',db = 'volana')
cursor = cnx.cursor()
cursor.execute(sql_cc)
data_cc = cursor.fetchall()
data_cc = pd.DataFrame(data_cc, columns=[i[0] for i in cursor.description])
cnx.close()

### Limpieza

In [23]:
data_cc.id_distribuidor = data_cc.id_distribuidor.astype(str)
data_cc.folio = data_cc.folio.astype(str)

data_cc.creditos_con_claves_prevencion = data_cc.creditos_con_claves_prevencion / data_cc.creditos_totales
data_cc.creditos_completados_con_atraso = data_cc.creditos_completados_con_atraso / data_cc.creditos_totales

data_cc.drop(['creditos_completados_sin_atraso'], axis = 1, inplace=True)

cols = ['saldo_vencido_total', 'pagos_vencidos', 'creditos_totales']

response = s3.get_object(Bucket=bucket_name, Key=key_cc_scaler)
demo_scaler_bytes = response['Body'].read()
# Carga el modelo usando joblib
scaler_loaded = joblib.load(BytesIO(demo_scaler_bytes))
#scaler_loaded = joblib.load('./data/staging/data_cc_scaler.pkl')

variables_numericas_escaladas = pd.DataFrame(scaler_loaded.transform(data_cc[cols]), columns = cols)

In [24]:
data_cc_scaled = pd.concat([data_cc.drop(cols, axis = 1), variables_numericas_escaladas], axis = 1)

## Merge

In [25]:
data_final = pd.merge(data_demo_scaled, data_cc_scaled, on = 'id_distribuidor')

In [26]:
data_final = data_final.drop(['folio'], axis = 1)
data_final.head()

,id_distribuidor,estado,sucursal,escolaridad,estado_civil,tipo_vivienda,sexo,experiencia,dependientes,tiempo_vivienda,ingreso_neto,tipo_negocio,tiempo_op_negocio,edad,creditos_con_claves_prevencion,creditos_completados_con_atraso,saldo_vencido_total,pagos_vencidos,creditos_totales
0,116,mexico,chimalhuacan_2,bachillerato,divorciada,propia,femenino,no,-0.781247,0.663563,-0.074213,0.663563,-1.015644,1.007775,0.186916,0.009346,-0.544050,-0.819401,1.314633
1,2174,mexico,chimalhuacan_2,secundaria,casada,familiar,femenino,no,1.070597,-0.339031,-0.074037,-0.339031,1.679599,0.377642,0.631579,0.157895,0.254597,-0.248740,-0.520960
2,2564,mexico,nezahualcoyotl_2,bachillerato,casada,propia,femenino,no,-0.781247,-0.339031,0.096792,-0.339031,0.331977,1.401608,0.593750,0.218750,0.035503,0.086943,-0.249793
3,3481,mexico,chimalhuacan_2,secundaria,casada,propia,femenino,si,-0.781247,-0.339031,0.058791,-0.339031,-1.015644,1.874208,0.093023,0.000000,-0.616726,-1.020810,-0.020344
4,4064,veracruz_de_ignacio_de_la_llave,orizaba,licenciatura,casada,familiar,masculino,si,5.700206,-0.840328,-0.026712,-0.840328,-0.566437,0.377642,0.238095,0.142857,0.418969,-0.506097,-0.479242

In [27]:
data_final_guardar = pd.concat([pd.get_dummies(data_final.drop("id_distribuidor", axis = 1)), data_final["id_distribuidor"]], axis = 1)

In [28]:
data_final_modelo = data_final_guardar.drop(["id_distribuidor"], axis = 1)

### Ordenando las columnas

In [29]:
response = s3.get_object(Bucket=bucket_name, Key=key_columnas_usar)
columnas_bytes = response['Body'].read()
# Carga el modelo usando joblib
columnas = np.loadtxt(BytesIO(columnas_bytes), dtype=str)

#columnas = np.loadtxt('./data/master/columnas_usar.txt', dtype=str)

In [30]:
data_final_modelo.drop(np.setdiff1d(data_final_modelo.columns,columnas), axis = 1, inplace=True)

In [31]:
for col in np.setdiff1d(columnas, data_final_modelo.columns):
    data_final_modelo[col] = 0

In [32]:
data_final_modelo = data_final_modelo[columnas]

### Corriendo el modelo

In [33]:
response = s3.get_object(Bucket=bucket_name, Key=key_model)
model_bytes = response['Body'].read()

# Carga el modelo usando joblib
loaded_model = joblib.load(BytesIO(model_bytes))

In [34]:
data_final_modelo.head(1)

,dependientes,tiempo_vivienda,ingreso_neto,tipo_negocio,tiempo_op_negocio,edad,creditos_con_claves_prevencion,creditos_completados_con_atraso,saldo_vencido_total,pagos_vencidos,...,estado_civil_union_libre,estado_civil_viuda,tipo_vivienda_familiar,tipo_vivienda_otro,tipo_vivienda_propia,tipo_vivienda_rentada,sexo_femenino,sexo_masculino,experiencia_no,experiencia_si
0,-0.781247,0.663563,-0.074213,0.663563,-1.015644,1.007775,0.186916,0.009346,-0.54405,-0.819401,...,0,0,0,0,1,0,1,0,1,0

In [35]:
data_final_modelo.columns = np.array(data_final_modelo.columns, dtype = 'str')

In [36]:
data_final['riesgo'] = loaded_model.predict_proba(data_final_modelo).T[0]

### A√±adiendo la p√©rdida de cosecha y el grupo de riesgo

In [37]:
response = s3.get_object(Bucket=bucket_name, Key=key_deciles)
cortes_probabilidad_bytes = response['Body'].read()
# Carga el modelo usando joblib
cortes_probabilidad = np.loadtxt(BytesIO(cortes_probabilidad_bytes), dtype=float)*100

response = s3.get_object(Bucket=bucket_name, Key=key_perdida_cosecha)
cosechas_estimadas_bytes = response['Body'].read()
# Carga el modelo usando joblib
cosechas_estimadas = np.loadtxt(BytesIO(cosechas_estimadas_bytes), dtype=float)*100

In [38]:
#cortes_probabilidad = np.loadtxt('./data/master/deciles.txt', dtype=float)*100
#cosechas_estimadas = np.loadtxt('./data/master/perdida_cosecha.txt', dtype=float)

In [39]:
cosechas_estimadas

array([ 0.59818465,  1.82981294,  3.32205965,  3.11605024,  3.37410505,
        3.97705569,  5.24391098,  5.82837159,  7.90005191, 11.22693992])

In [40]:
def setcut_prob(p, grupo_ = True):
    p = p*100

    for cut in cortes_probabilidad:
        if cut > p:
            break
            
    grupo = np.where(cortes_probabilidad == cut)[0][0] 
    if grupo_:
        return grupo
    else:
        return cosechas_estimadas[grupo - 1]

In [41]:
data_final['grupo_riesgo'] = data_final['riesgo'].apply(lambda x: f"Canasta {setcut_prob(x, grupo_ = True)}")
data_final['perdida_cosecha_canasta'] = data_final['riesgo'].apply(lambda x: setcut_prob(x, grupo_ = False))

### Regresando la capacidad de pago

In [42]:
data_final['cuota_semanal_que_puede_cubrir'] = 1_000

In [43]:
data_final_modelo_tasas = data_final[['id_distribuidor', 'perdida_cosecha_canasta', 'cuota_semanal_que_puede_cubrir', 'riesgo', 'grupo_riesgo']]

In [44]:
rentabilidad_obj = 0.4

def getVals_all(X, t_max, d, c, pc, print_ = False):
    tasas = []
    rentabilidades = []
    factible = []
    por_pagar_sem = []

    for t in range(75, int(t_max*100)+1, 1):

        total_pagado, pago_real_semanal, rentabilidad, tasa_ajustada = getVals( X = X, 
                                                                                d = d, 
                                                                                t = t/100, 
                                                                                pc = pc)
        tasas.append(t)
        rentabilidades.append(rentabilidad)

        factible.append( ((total_pagado / d) < c) * (rentabilidad >= rentabilidad_obj))

        por_pagar_sem.append(total_pagado / d)

        if print_:
            print(f"Tasa: {t} - \tpagado {total_pagado:.2f} - pagado por semana {total_pagado/d:.2f} - capacidad {c} - rentabilidad {rentabilidad:.3f}")

    tasas = np.array(tasas)
    rentabilidades = np.array(rentabilidades)
    por_pagar_sem = np.array(por_pagar_sem)

    return tasas, rentabilidades, por_pagar_sem


def getVals(X, d, t, pc):
    fijos = 20.6 * d
    originacion = 20.6
    fondeo = (0.20/52) * X * d
    perdida_cosecha = abs(pc) * X 

    costos = fijos + originacion + fondeo + perdida_cosecha

    # ==============

    pagado = lambda X, t, d: ( (X*t*(1+t)**d) / (- 1 + (1+t)**d) ) * d

    t_semanal_con_iva = (t/52)*1.16
    total_pagado = pagado(X, t_semanal_con_iva, d)

    ingresos_intereses = total_pagado - X

    seguros = {4_000 : 26, 21_000 : 29, 51_000 : 30, np.inf: 31}

    ingreso_seguro = 0.0

    key_ant = 0
    for s in seguros.keys():
        if X < s and X > key_ant:
            ingreso_seguro = seguros[s]

        key_ant = s

    marginal = ingresos_intereses - costos

    rentabilidad = marginal / ingresos_intereses

    cuanto_deberia_ganar_de_intereses = costos/(1 - rentabilidad_obj)

    cuanto_me_deberian_depagar = cuanto_deberia_ganar_de_intereses + X

    pago_real_semanal = cuanto_me_deberian_depagar / d

    # Averiguar c√≥mo ajustar la tasa
    tasa_ajustada = t


    return total_pagado, pago_real_semanal, rentabilidad, tasa_ajustada


def find_tasa_fija(tasa_opt):
    tasas_fijas = [75, 80, 85, 90, 95, 100, 105, 110, 112, 115, 117, 120, 122, 127, 132, 137, 142, 147]
    for tf in tasas_fijas:
        if tf >= tasa_opt:
            return tf

def ajustarTasa(X, t_max, d, c, pc):
    """
    In:
        X[float]: Monto solicitado del pr√©stamo original
        t_max[float]: tasa anual m√°xima (regularmente 1.47)
        d[int]: n√∫mero de semanas de duraci√≥n del pr√©stamo (regularmente 16)
        c[float]: capacidad de pago semanal (de las tablas ingestado)
        pc[float]: p√©rdida de cosecha estimada 
    Out:
        estatus[bool]: estatus del cr√©dito - rechazo si False / aceptaci√≥n si True
        tasa_minima[float] = tasa m√≠nima rentable
        tasa_sugerida[float] = tasa √≥ptima
        resultado_txt[str] = texto que describe el resultado
    """
    """
    10,000 --> False rechazado
    9,000 --> False
    8,000, ..., 5,000 -> Aprobado

    ID
    1 - 10,000  - RECHAZO
    1 - 9 ,000  - RECHAZO <-

    1 - 8 ,000  - ACEPTADO
    1 - 7 ,000  - ACEPTADO
    1 - 6 ,000  - ACEPTADO

    9,000, ..., 5,000
    """


    estatus       = False 
    tasa_minima   = 0.0
    tasa_sugerida = 0.0
    resultado_txt = ""


    tasas, rentabilidades, por_pagar_sem = getVals_all(X = X, 
                                                   t_max = t_max,
                                                   d = d,
                                                   c = c,
                                                   pc = pc,
                                                   print_ = False)

    factible_rentabilidad = (rentabilidades > rentabilidad_obj)
    factible_pago = (np.array(por_pagar_sem) < c)
    factible = factible_rentabilidad * factible_pago
    rentabilidades *= 100


    if factible.sum() != 0:

            tasa_minima = find_tasa_fija(min(tasas[factible]))
            tasa_sugerida = find_tasa_fija(max(tasas[factible]))

            resultado_txt = f"Tasa anual sugerida es de {tasa_sugerida}% con rentabilidad: {max(rentabilidades[factible]):.2f}% y pagando {max(por_pagar_sem[factible]):.2f}"
            resultado_txt += "\n"
            resultado_txt += f"Tasa anual m√≠nima posible es de {tasa_minima}% con rentabilidad: {min(rentabilidades[factible]):.2f}% y pagando {min(por_pagar_sem[factible]):.2f}"
            estatus = True


    elif factible.sum() == 0:

        resultado_txt += f"No existe un intervalo factible, se rechaza el cr√©dito\n"

        posibles_tasas = np.where((rentabilidades > 40))[0]
        if len(posibles_tasas) > 0:
            resultado_txt += f"El pago m√≠nimo necesario para tener una rentabilidad del 40% es de: {por_pagar_sem[posibles_tasas[0]]:.2f}"
        else:
            resultado_txt += f"Su capacidad de pago no asegura tener una rentabilidad del 40%\n"

            resultado_txt += f"El pago semanal m√≠nimo es de {min(por_pagar_sem):.2f} (con rentabilidad de {min(rentabilidades):.2f}%) y se tiene capacidad hasta {c}\n"

            resultado_txt += f"La rentabilidad m√°x alcanzada es de {max(rentabilidades):.2f}% (con pago de {max(por_pagar_sem):.2f}) y se tiene como objetivo {rentabilidad_obj*100}%"

    elif factible.sum() == len(factible):
        resultado_txt = f"Todas las tasas son viables, se asigna la mayor de {find_tasa_fija(max(tasas))}% anual"
        estatus = True
        tasa_minima = find_tasa_fija(min(tasas[factible]))
        tasa_sugerida = find_tasa_fija(max(tasas[factible]))

    return estatus, resultado_txt, tasa_minima, tasa_sugerida


########################################################################## Calculo de Riesgo
####### Asignacion de Riesgo #######
pdf_modelo = data_final_modelo_tasas[['id_distribuidor', 'perdida_cosecha_canasta', 'cuota_semanal_que_puede_cubrir', 'riesgo', 'grupo_riesgo']] 

d = 16
t_max = 1.47
resultado = []

for row in pdf_modelo.iterrows():
    pc = row[1]['perdida_cosecha_canasta']/100
    c  = row[1]['cuota_semanal_que_puede_cubrir']
    id_ = int(row[1]['id_distribuidor'])
    prob = float(row[1]['riesgo'])
    grp = row[1]['grupo_riesgo']
    alguno_paso = 0
    for X in range(10_000, 4_000, -1_000):
        estatus, resultado_txt, tasa_minima, tasa_sugerida = ajustarTasa(X, t_max, d, c, pc)
        if estatus:
            resultado.append([id_, resultado_txt, X, tasa_minima, tasa_sugerida, prob, grp])
            alguno_paso = 1
    if alguno_paso == 0:
        _, resultado_txt, _, _ = ajustarTasa(X, t_max, d, c, pc)
        resultado.append([id_, resultado_txt, 0, 0, 0, prob, grp])

pdf_riesgo = pd.DataFrame(resultado)

pdf_riesgo.columns = ["id_distribuidor","resultado_txt","monto_autorizado", "tasa_minima","tasa_sugerida", "probabilidad", "grupo_riesgo"]

# Obtener fecha y hora actual     
dia = "ahorita"
hora = "hoy"

pdf_riesgo["fecha"] = dia
pdf_riesgo["hora"] = hora

#pdf_riesgo.to_csv("./data/evaluation/prospectos_evaluados_modelo_volana.csv", index=True)

key_final = 'analytics/modelo_riesgo_volana/dev/06_model_output/prospectos_modelo_volana/pdf_riesgo.csv'

# Convertir DataFrame a CSV en memoria
csv_buffer = pdf_riesgo.to_csv(index=False)

# Subir el archivo CSV a S3 directamente desde la memoria
response = s3.put_object(Bucket=bucket_name, Key=key_final, Body=csv_buffer)

In [45]:
pdf_riesgo['fecha'] = '2024-06-20'
pdf_riesgo['hora'] = '00:00:00'

In [46]:
pdf_riesgo.to_csv("./data/todos_evaluados_modelo_volana.csv", index=False)

## Agrupando

In [109]:
pdf_riesgo = pd.read_csv("./data/todos_evaluados_modelo_volana.csv")

In [110]:
pdf_riesgo.head()

,id_distribuidor,resultado_txt,monto_autorizado,tasa_minima,tasa_sugerida,probabilidad,grupo_riesgo,fecha,hora
0,116,Tasa anual sugerida es de 147% con rentabilida...,10000,110,147,0.333688,Canasta 3,2024-06-20,00:00:00
1,116,Tasa anual sugerida es de 147% con rentabilida...,9000,112,147,0.333688,Canasta 3,2024-06-20,00:00:00
2,116,Tasa anual sugerida es de 147% con rentabilida...,8000,115,147,0.333688,Canasta 3,2024-06-20,00:00:00
3,116,Tasa anual sugerida es de 147% con rentabilida...,7000,120,147,0.333688,Canasta 3,2024-06-20,00:00:00
4,116,Tasa anual sugerida es de 147% con rentabilida...,6000,127,147,0.333688,Canasta 3,2024-06-20,00:00:00

In [111]:
pdf_riesgo.groupby('id_distribuidor').agg({"monto_autorizado": max, "tasa_minima":min, "grupo_riesgo": max})

                 monto_autorizado  tasa_minima grupo_riesgo
id_distribuidor
116                         10000          110    Canasta 3
2174                        10000          132    Canasta 8
2564                        10000          110    Canasta 4
3481                        10000          110    Canasta 3
4064                        10000          147    Canasta 9
...                           ...          ...          ...
193231                          0            0   Canasta 10
193268                          0            0   Canasta 10
193276                      10000          147    Canasta 9
193309                      10000          110    Canasta 5
193321                          0            0   Canasta 10

[6070 rows x 3 columns]

In [112]:
temp = pdf_riesgo.groupby('id_distribuidor').agg({"monto_autorizado": max, "tasa_minima":min, "grupo_riesgo": max})

temp['riesgo'] = temp.grupo_riesgo.apply(lambda x: int(x.replace("Canasta ","")))

In [113]:
temp

                 monto_autorizado  tasa_minima grupo_riesgo  riesgo
id_distribuidor
116                         10000          110    Canasta 3       3
2174                        10000          132    Canasta 8       8
2564                        10000          110    Canasta 4       4
3481                        10000          110    Canasta 3       3
4064                        10000          147    Canasta 9       9
...                           ...          ...          ...     ...
193231                          0            0   Canasta 10      10
193268                          0            0   Canasta 10      10
193276                      10000          147    Canasta 9       9
193309                      10000          110    Canasta 5       5
193321                          0            0   Canasta 10      10

[6070 rows x 4 columns]

In [114]:
temp.to_csv("./data/todos_evaluados_modelo_volana_agrupado_2024_06_20.csv")

## Juntando con p√©rdida de cosecha y marginal

In [115]:
data_modelo = pd.read_csv("./data/todos_evaluados_modelo_volana_agrupado_2024_06_20.csv")

In [116]:
data_marginal = pd.read_csv("./data/data_marginal.csv")

In [117]:
data_marginal

      id_distribuidor  importe_depositado       marginal
0                 116          3321662.37  769845.107078
1                 300            45160.00   45160.000000
2                 455           908847.00  258069.304908
3                 480           982205.01  242482.264008
4                 576          1012966.00  384669.654450
...               ...                 ...            ...
4820           189757             7728.00       3.385495
4821           189846             5458.00    -226.779341
4822           189868             5597.00      39.789560
4823           190143             3489.00     273.822527
4824           190763             6565.00    6565.000000

[4825 rows x 3 columns]

In [120]:
data_modelo.query("id_distribuidor == '138931'")

Empty DataFrame
Columns: [id_distribuidor, monto_autorizado, tasa_minima, grupo_riesgo, riesgo]
Index: []

In [56]:
data_enviar = data_modelo.merge(data_perdida_cosecha_tasa_usar, left_on = 'id_distribuidor', right_on = 'id_distribuidor_usar')

In [57]:
data_enviar_final = data_enviar.rename(columns={"id_distribuidor_x": "id_distribuidor_linea_de_credito", 
                            "id_distribuidor_y": "id_distribuidor"}).drop("id_distribuidor_usar", axis = 1)

In [65]:
data_enviar_final = data_enviar_final.merge(data_marginal, on = 'id_distribuidor')

In [73]:
data_enviar_final

,id_distribuidor_linea_de_credito,monto_autorizado,tasa_minima,grupo_riesgo,riesgo,tasa_ponderada,perdida_ponderada,id_distribuidor,importe_depositado,marginal
0,116,10000,110,Canasta 3,3,164.358217,0.0,116,3321662.37,769845.107078
1,2174,10000,132,Canasta 8,8,142.005895,0.0,2174,264356.00,67109.971542
2,2564,10000,110,Canasta 4,4,139.246073,0.0,2564,392756.00,117798.788293
3,3481,10000,110,Canasta 3,3,153.301854,0.0,3481,358407.00,104214.388267
4,4064,10000,147,Canasta 9,9,143.271617,0.0,4064,255908.00,71907.270688
...,...,...,...,...,...,...,...,...,...,...
4795,189619,10000,127,Canasta 7,7,142.000000,0.0,190143,3489.00,273.822527
4796,189770,10000,115,Canasta 6,6,142.000000,0.0,190143,3489.00,273.822527
4797,189996,10000,110,Canasta 3,3,142.000000,0.0,190143,3489.00,273.822527
4798,189722,10000,110,Canasta 5,5,142.000000,0.0,189757,7728.00,3.385495
4799,189733,10000,110,Canasta 5,5,142.000000,0.0,189757,7728.00,3.385495

In [66]:
data_final_usar = data_final[['id_distribuidor', 'perdida_cosecha_canasta']]
data_final_usar.id_distribuidor = data_final_usar.id_distribuidor.astype(int)

In [78]:
data_enviar = data_enviar_final.merge(data_final_usar, 
                                      right_on = 'id_distribuidor',
                                      left_on = 'id_distribuidor_linea_de_credito')

In [87]:
data_enviar = data_enviar.drop("id_distribuidor_y", axis = 1)

In [98]:
data_enviar.groupby("id_distribuidor_x").size().sort_values()

id_distribuidor_x
116        1
158650     1
180677     1
180719     1
180843     1
          ..
185690    12
182379    12
187892    13
174191    13
188528    13
Length: 1323, dtype: int64

In [101]:
data_enviar.query(f"id_distribuidor_x == {188528}")

,id_distribuidor_linea_de_credito,monto_autorizado,tasa_minima,grupo_riesgo,riesgo,tasa_ponderada,perdida_ponderada,id_distribuidor_x,importe_depositado,marginal,perdida_cosecha_canasta
4700,188263,10000,132,Canasta 8,8,110.0,0.0,188528,26374.0,-3962.972401,5.828372
4701,188266,10000,110,Canasta 4,4,110.0,0.0,188528,26374.0,-3962.972401,3.116050
4702,188267,10000,115,Canasta 6,6,110.0,0.0,188528,26374.0,-3962.972401,3.977056
4703,188281,10000,110,Canasta 5,5,110.0,0.0,188528,26374.0,-3962.972401,3.374105
4704,188285,10000,127,Canasta 7,7,115.0,0.0,188528,26374.0,-3962.972401,5.243911
4705,188288,10000,115,Canasta 6,6,142.0,0.0,188528,26374.0,-3962.972401,3.977056
4706,188297,10000,110,Canasta 3,3,110.0,0.0,188528,26374.0,-3962.972401,3.322060
4707,188298,10000,110,Canasta 3,3,110.0,0.0,188528,26374.0,-3962.972401,3.322060
4708,188301,10000,110,Canasta 3,3,110.0,0.0,188528,26374.0,-3962.972401,3.322060
4709,188303,10000,110,Canasta 4,4,110.0,0.0,188528,26374.0,-3962.972401,3.116050
4710,188307,10000,110,Canasta 5,5,142.0,0.0,188528,26374.0,-3962.972401,3.374105
4711,188351,10000,110,Canasta 4,4,110.0,0.0,188528,26374.0,-3962.972401,3.116050
4712,188484,10000,110,Canasta 5,5,110.0,0.0,188528,26374.0,-3962.972401,3.374105

In [100]:
for id_dist in data_enviar.id_distribuidor_x.unique():
    temp = data_enviar.query(f"id_distribuidor_x == {id_dist}")
    factor = len(temp) 
    if factor == 0:
        continue
    data_enviar.loc[data_enviar.id_distribuidor_x == id_dist, "marginal"] /= factor

In [105]:
data_enviar.rename(columns={"id_distribuidor_x": "id_distribuidor"}, inplace=True)

In [106]:
data_enviar.to_csv("./data/master/data_riesgo_cosecha_marginal.csv")

In [108]:
data_enviar

,id_distribuidor_linea_de_credito,monto_autorizado,tasa_minima,grupo_riesgo,riesgo,tasa_ponderada,perdida_ponderada,id_distribuidor,importe_depositado,marginal,perdida_cosecha_canasta
0,116,10000,110,Canasta 3,3,164.358217,0.0,116,3321662.37,769845.107078,3.322060
1,2174,10000,132,Canasta 8,8,142.005895,0.0,2174,264356.00,67109.971542,5.828372
2,2564,10000,110,Canasta 4,4,139.246073,0.0,2564,392756.00,117798.788293,3.116050
3,3481,10000,110,Canasta 3,3,153.301854,0.0,3481,358407.00,104214.388267,3.322060
4,4064,10000,147,Canasta 9,9,143.271617,0.0,4064,255908.00,71907.270688,7.900052
...,...,...,...,...,...,...,...,...,...,...,...
4801,189619,10000,127,Canasta 7,7,142.000000,0.0,190143,3489.00,54.764505,5.243911
4802,189770,10000,115,Canasta 6,6,142.000000,0.0,190143,3489.00,54.764505,3.977056
4803,189996,10000,110,Canasta 3,3,142.000000,0.0,190143,3489.00,54.764505,3.322060
4804,189722,10000,110,Canasta 5,5,142.000000,0.0,189757,7728.00,1.692747,3.374105
4805,189733,10000,110,Canasta 5,5,142.000000,0.0,189757,7728.00,1.692747,3.374105