In [2]:
import requests
import json
import fire
import pandas as pd
import numpy as np
import pymysql

In [16]:
d = pd.read_csv("../data/comparativa_modelos.csv")

In [13]:
q = pd.read_csv("../../AnalisisProspectos/prospectos_riesgo_11_28_23.csv").id_distribuidor

In [14]:
np.intersect1d(q, d).shape

(1417,)

In [17]:
d

,Unnamed: 0,id_distribuidor,ID ASOCIADO,CAPITAL AUTORIZADO,TASA AUTORIZADA,RECUPERADO,NO RECUPERADO,CERRADO,P COSECHA,grupo_riesgo_quilum,grupo_riesgo_quash,tasa_sugerida_quilum,tasa_sugerida_quash,perdida_cosecha_esperada_quilum,perdida_cosecha_esperada_quash
0,0,145442,162807,6000,142,6000.000000,0.000000,SI,0.000000,1,6,100,0.0,1.63,11.80
1,1,145444,162806,6000,142,6000.000000,0.000000,SI,0.000000,4,3,110,0.0,1.89,4.06
2,2,157169,157637,8000,132,8000.000000,0.000000,SI,0.000000,2,2,95,0.0,1.84,1.98
3,3,157171,157634,11000,132,11000.000000,0.000000,SI,0.000000,4,7,115,115.0,1.89,14.76
4,4,157178,157635,11000,132,11000.000000,0.000000,SI,0.000000,6,3,127,132.0,3.19,4.06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1412,1412,167070,167255,9000,142,3398.411536,5601.588464,SI,62.239872,4,4,127,0.0,1.89,6.11
1413,1413,167202,167259,9000,142,3398.411536,5601.588464,SI,62.239872,6,4,0,115.0,3.19,6.11
1414,1414,166739,167256,9000,142,3398.411536,5601.588464,SI,62.239872,9,5,0,0.0,13.17,7.65
1415,1415,166784,167257,9000,142,3398.411536,5601.588464,SI,62.239872,4,7,110,0.0,1.89,14.76
1416,1416,166882,167258,9000,142,3398.411536,5601.588464,SI,62.239872,8,7,0,NaN,7.48,14.76