In [39]:
import pandas as pd
import numpy as np

from datetime import datetime, timedelta

def excel_a_fecha(valor_excel):
    # Convertir a fecha
    fecha_excel = datetime(1899, 12, 30) + timedelta(days=valor_excel)
    
    # Devolver la fecha
    return fecha_excel

In [40]:
data_cartera = pd.read_excel("./data/231110 DATOS PARA DESEMPEÑO.xlsb", sheet_name="CARTERAS")
data_cartera['MES DE CORTE'] = data_cartera['MES DE CORTE'].apply(excel_a_fecha)

In [41]:
data_cartera['ID DIST.'].nunique()

9808

In [42]:
data_riesgo_ant = pd.read_csv("./data/riesgo_cartera_10_31_23.csv")

In [43]:
data_riesgo_ant['ID DIST.'].nunique()

15761

In [44]:
faltantes = np.setdiff1d(data_cartera['ID DIST.'].unique(), data_riesgo_ant['ID DIST.'].unique())

In [45]:
data_cartera.columns = ['SUCURSAL', 'ID COORDINADOR', 'COORDINADOR', 'ID ASESOR', 'ASESOR',
       'ID DIST.', 'DISTRIBUIDOR', 'F. AUT. LINEA', 'F. ULT. INCREMENTO',
       'NO. INCREMENTOS', 'LINEA DE CREDITO', 'LINEA DISPUESTA $',
       'DISPONIBLE', 'F. PRIMERA DISP.', 'ASOCIADOS ACTIVOS',
       'ASOCIADOS TOTALES', 'CAPITAL', 'INTERES', 'IVA INTERES',
       'SEGURO ASOCIADOS', 'SEGURO DISTRIBUIDOR', 'MULTAS', 'IVA MULTAS',
       'TOTAL PAGADO', 'CAPITAL.1', 'INTERES.1', 'IVA INTERES.1',
       'SEGURO ASOCIADOS.1', 'SEGURO DISTRIBUIDOR.1', 'MULTAS.1',
       'IVA MULTAS.1', 'TOTAL PENDIENTE', 'F. ATRASO', 'DIAS ATRASO',
       'CAPITAL ATRASO', 'SALDO ATRASADO', 'F. ULTIMO PAGO', 'F. PROX. PAGO',
       'SALDO ATRASADO.1', 'IMPORTE PARTIDA', 'SEG. ASOC.', 'SEG. DIST.',
       'CREDITO PERSONAL', 'TOTAL PAGO', 'PAGO ANTICIPADO', 'COMISION',
       'MORATORIOS', 'MONTO DEPOSITAR', 'F. REACTIVACION', 'EMPLEADO ASESOR',
       'EMPLEADO COORD.', 'CONVENIO', 'ESTATUS.', 'REESTRUCTURADO',
       'TIPO DISTRIBUIDOR', 'ID RED', 'NOMBRE DE LA RED',
       'ID PRESTAMO PERSONAL', 'RED', 'SALDO PRESTAMO PERSONAL',
       'PAGOS ANTICIPADOS U4P', 'PAGOS EN TIEMPO U4P', 'PAGOS DESTIEMPO U4P',
       'PAGOS PENDIENTES U4P', 'PAGOS ANTICIPADOS U6P', 'PAGOS EN TIEMPO U6P',
       'PAGOS DESTIEMPO U6P', 'PAGOS PENDIENTES U6P', 'CAPITAL.2', 'INTERES.2',
       'IVA', 'CAPITAL P.PERSONAL', 'INTERES P.PERSONAL', 'IVA P.PERSONAL',
       'FRECUENCIA DE PAGO', 'DIA', 'HORA', 'GARANTIA APLICADA',
       'FECHA ULTIMA DISPERSION', 'CICLO RED', 'CATEGORIA', 'CAPITAL VENCIDO',
       'INTERESES VENCIDO', 'IVA VENCIDO', 'REDONDEO VENCIDO',
       'MORATORIO VENCIDO', 'SEGURO DISTRIBUIDOR VENCIDO',
       'SEGURO ASOCIADO VENCIDO', 'LINEA BLOQUEADA', 'ID CLIENTE',
       'TIPO DISTRIBUIDOR ORIGEN', 'F. CAMBIO DE TIPO DISTRIBUIDOR',
       'FECHA CONSULTA CC 1', 'FECHA CONSULTA CC 2', 'MES DE CORTE']

In [46]:
data_riesgo_ant

       ID DIST.  probs  grupo
0             1  80.19      2
1            19   8.85     10
2            29   7.95     10
3            38  17.77      9
4            51  98.70      1
...         ...    ...    ...
15756    166935  53.96      5
15757    166945  26.13      8
15758    166991  51.45      5
15759    167004  79.69      2
15760    167010  64.89      3

[15761 rows x 3 columns]

In [47]:
data_cosecha = data_cartera.groupby('ID DIST.').agg({'CAPITAL.1':'sum', 'CAPITAL ATRASO':'sum'}).reset_index()
data_cosecha = data_cosecha.loc[[k in faltantes for k in data_cosecha['ID DIST.']]]

In [48]:
data_cosecha['perdida_cosecha'] = 1 - (data_cosecha['CAPITAL.1'] - data_cosecha['CAPITAL ATRASO']) /  data_cosecha['CAPITAL.1']

In [49]:
data_cosecha.perdida_cosecha.mean()

0.6050647826699085

In [50]:
data_cosecha = data_cosecha[['ID DIST.', 'perdida_cosecha']]

In [51]:
#data_cartera.loc[data_cartera['ID DIST.'] ==  40991]

In [52]:
def setcut(cosecha_):
    #p = p*100
    cosecha_ *= 100

    grupo = 1
    cuts = np.array(sorted([100, 81.09, 72.06, 63.19, 54.27, 45.11, 36.10, 27.47, 18.17, 9.05, 0.00]))
    cosechas = np.array(sorted([0, 1.54, 3.4, 4.97, 7.38, 10.69, 11.87, 12.35, 12.68, 20.33, 22.69], reverse = True))

    #cuts = np.array(sorted([1, 0.9919, 0.975, 0.953, 0.9196, 0.8717, 0.7832, 0.6737, 0.5072, .2738]))*100
    #cosechas = np.array(sorted([2.31, 2.63, 3.1, 3.12, 3.94, 4.2, 4.33, 5.15, 5.71, 59.82], reverse = True))

    enter_ = False
    for cosecha in cosechas:
        if cosecha <= cosecha_:

            enter_ = True
            break

    if enter_:
        grupo = np.where(cosechas == cosecha)[0][0] 

    return grupo, cuts[grupo], cosechas[grupo]

In [53]:
def setcut_prob(p, grupo_ = True):
    p = p*100
    cuts = np.array(sorted([100, 81.09, 72.06, 63.19, 54.27, 45.11, 36.10, 27.47, 18.17, 9.05, 0.00]))
    cosechas = np.array(sorted([1.54, 3.4, 4.97, 7.38, 10.69, 11.87, 12.35, 12.68, 20.33, 22.69], reverse = True))
    
    #cuts = np.array(sorted([1, 0.9919, 0.975, 0.953, 0.9196, 0.8717, 0.7832, 0.6737, 0.5072, .2738]))*100
    #cosechas = np.array(sorted([2.31, 2.63, 3.1, 3.12, 3.94, 4.2, 4.33, 5.15, 5.71, 59.82], reverse = True))
    
    for cut in cuts:
        if cut > p:
            break
            
    grupo = np.where(cuts == cut)[0][0] 
    if grupo_:
        return grupo
    else:
        return cosechas[grupo - 1]

In [54]:
setcut(1.6)

(0, 0.0, 22.69)

In [55]:
_, data_cosecha['probs'], data_cosecha['cosecha_canasta'] = zip(*data_cosecha.perdida_cosecha.apply(setcut))

In [56]:
data_cosecha

      ID DIST.  perdida_cosecha  probs  cosecha_canasta
324       9006              1.0    0.0            22.69
363      10033              1.0    0.0            22.69
364      10036              1.0    0.0            22.69
365      10091              1.0    0.0            22.69
376      10399              1.0    0.0            22.69
...        ...              ...    ...              ...
9803    168334              0.0  100.0             0.00
9804    168336              0.0  100.0             0.00
9805    168339              0.0  100.0             0.00
9806    168341              0.0  100.0             0.00
9807    168348              0.0  100.0             0.00

[425 rows x 4 columns]

In [57]:
def move_prob(val):
    val /= 100
    if val == 0:
        val += np.random.randint(0, 200)/1000
    elif val == 1:
        val -= np.random.randint(0, 200)/1000
    else:
        val += np.random.randint(-200, 200)/1000
    return val

In [58]:
data_cosecha.probs =data_cosecha.probs.apply(move_prob)

In [59]:
data_cosecha['grupo'] = data_cosecha.probs.apply(setcut_prob, grupo_ = True)

In [60]:
data_cosecha['cosecha_canasta'] = data_cosecha.probs.apply(setcut_prob, grupo_ = False)

In [61]:
data_cosecha.drop("perdida_cosecha", axis = 1, inplace=True)

In [62]:
data_cosecha

      ID DIST.  probs  cosecha_canasta  grupo
324       9006  0.027            22.69      1
363      10033  0.036            22.69      1
364      10036  0.114            20.33      2
365      10091  0.049            22.69      1
376      10399  0.153            20.33      2
...        ...    ...              ...    ...
9803    168334  0.972             1.54     10
9804    168336  0.881             1.54     10
9805    168339  0.879             1.54     10
9806    168341  0.832             1.54     10
9807    168348  0.981             1.54     10

[425 rows x 4 columns]

In [63]:
data_riesgo_ant.probs = data_riesgo_ant.probs / 100

In [64]:
data_riesgo_ant['cosecha_canasta'] = data_riesgo_ant.probs.apply(setcut_prob, grupo_ = False)

In [65]:
data_riesgo_ant = data_riesgo_ant[['ID DIST.', 'probs', 'grupo', 'cosecha_canasta']];

In [66]:
data_cosecha = data_cosecha[['ID DIST.', 'probs', 'grupo', 'cosecha_canasta']]

In [67]:
data_final = pd.concat([data_riesgo_ant, data_cosecha])

In [68]:
data_final.shape

(16186, 4)

In [71]:
data_final.to_csv("./data/riesgo_cartera_11_15_23.csv")

In [74]:
data_final.corr()

                 ID DIST.     probs     grupo  cosecha_canasta
ID DIST.         1.000000 -0.076985  0.101477        -0.008384
probs           -0.076985  1.000000 -0.869033        -0.944798
grupo            0.101477 -0.869033  1.000000         0.845600
cosecha_canasta -0.008384 -0.944798  0.845600         1.000000