In [51]:
import pandas as pd
import numpy as np

In [9]:
data_faltantes = pd.read_excel("./cartera_distribuidor_red_v2_2024-04-15_22_50_47.xlsx", header=1)

In [71]:
data_ejemplo.shape

(10, 103)

In [70]:
data_ejemplo = pd.read_csv("./cartera_distribuidor_ejemplo.csv")
for k in data_ejemplo.columns:
    print(k)

sucursal
id_coordinador
coordinador
id_asesor
asesor
id_distribuidor
distribuidor
fecha_aut_linea
fecha_ult_incremento
no_incrementos
linea_de_credito
linea_dispuesta
linea_disponible
fecha_primera_disposicion
asociados_activos
asociados_totales
total_pagado_capital
total_pagado_interes
total_pagado_iva_interes
total_pagado_seguro
total_pagado_seguro_dist
total_pagado_multas
total_pagado_iva_multas
total_pagado
saldo_pendiente_capital
saldo_pendiente_interes
saldo_pendiente_iva_interes
saldo_pendiente_seguro
saldo_pendiente_seguro_dist
saldo_pendiente_multas
saldo_pendiente_iva_multas
saldo_pendiente_total
fecha_atraso
dias_atraso
capital_atraso
saldo_atraso
fecha_ultimo_pago
fecha_proximo_pago
proximo_pago_saldo_atrasado
proximo_pago_importe_partida
proximo_pago_seguro asociados
proximo_pago_seguro_distribuidor
proximo_pago_credito_personal
proximo_pago_total_quincena
proximo_pago_total_pago
proximo_pago_anticipado
proximo_pago_comision
proximo_pago_moratorios
proximo_pago_monto_depositar
fecha
fecha_reactivacion
empleado_asesor
empleado_coordinador
Period
convenio
status
reestructurado
fecha_siguiente
importe_aplicado
comisiones
registros
id_red
tipo_distribuidor
nombre_red
id_prestamo_personal
saldo_prestamo_personal
pagos_anticipados_u4p
pagos_en_tiempo_u4p
pagos_destiempo_u4p
pagos_pendientes_u4p
pagos_anticipados_u6p
pagos_en_tiempo_u6p
pagos_destiempo_u6p
pagos_pendientes_u6p
coordinadores
asesores
red
e_capital
e_interes
e_iva
capital_p_personal
interes_p_personal
iva_p_personal
frecuencia_de_pago
dia
hora
garantia_aplicada
f_ult_disp
ciclo_red
categoria
capital_vencido
interes_vencido
iva_vencido
redondeo_vencido
moratorio_vencido
seguro_distribuidor_vencido
seguro_asociado_vencido
linea_bloqueada
id_cliente
tipo_distribuidor_origen
fecha_cambio_tipo_distribuidor
fecha_consulta_cc_1
fecha_consulta_cc_2

In [41]:
data_relacion = pd.read_csv("./nombres_columnas.csv")
data_relacion

                              Tabla           Excel
0                          sucursal        SUCURSAL
1                    id_coordinador  ID COORDINADOR
2                       coordinador     COORDINADOR
3                         id_asesor       ID ASESOR
4                            asesor          ASESOR
..                              ...             ...
98                       id_cliente             NaN
99         tipo_distribuidor_origen             NaN
100  fecha_cambio_tipo_distribuidor             NaN
101             fecha_consulta_cc_1             NaN
102             fecha_consulta_cc_2             NaN

[103 rows x 2 columns]

In [38]:
data_insert = pd.DataFrame(columns = data_ejemplo.columns)

In [56]:
for k in data_insert.columns:
    txt = str(data_relacion.query(f"Tabla == '{k}'").Excel.values[0])
    if txt == 'nan':
        data_insert[k] = None
    else:
        data_insert[k] = data_faltantes[txt]

In [60]:
data_insert['fecha'] = '2024-04-15'

In [62]:
data_insert.to_csv("ejemplo_insert_a_ver_si_funciona.csv", index=False)

In [66]:
data_insert.fecha_ult_incremento.value_counts()

Series([], Name: fecha_ult_incremento, dtype: int64)

In [68]:
pd.read_csv("ejemplo_insert_a_ver_si_funciona.csv").columns

Index(['sucursal', 'id_coordinador', 'coordinador', 'id_asesor', 'asesor',
       'id_distribuidor', 'distribuidor', 'fecha_aut_linea',
       'fecha_ult_incremento', 'no_incrementos',
       ...
       'redondeo_vencido', 'moratorio_vencido', 'seguro_distribuidor_vencido',
       'seguro_asociado_vencido', 'linea_bloqueada', 'id_cliente',
       'tipo_distribuidor_origen', 'fecha_cambio_tipo_distribuidor',
       'fecha_consulta_cc_1', 'fecha_consulta_cc_2'],
      dtype='object', length=103)

In [77]:
import pandas as pd

# Supongamos que tienes un DataFrame llamado df con tus datos
# Por favor, reemplaza df con tu DataFrame real

# Ejemplo de DataFrame de muestra
data = {
    'id': [1, 2, 3],
    'nombre': ['Juan', 'MarÃ­a', 'Pedro'],
    'edad': [30, 25, 35]
}
df = pd.DataFrame(data)

# Nombre de la tabla en la base de datos
nombre_tabla = 'nombre_de_la_tabla'

# Generar la instrucciÃ³n INSERT SQL
insert_sql = f"INSERT INTO {nombre_tabla} ("
columnas = ', '.join(df.columns)
insert_sql += f"{columnas}) VALUES "

for index, fila in df.iterrows():
    valores = ', '.join([f"'{str(valor)}'" for valor in fila.values])
    insert_sql += f"({valores}), "

# Eliminar la coma extra al final y aÃ±adir punto y coma
insert_sql = insert_sql[:-2] + ";"

print(insert_sql)

102

In [2]:
import pandas as pd
import datetime as dt
import fnmatch
import os
import pymysql
from sqlalchemy import create_engine
# import mysql.connector

yesterday_date = dt.datetime.now().date() - dt.timedelta(days=1)
two_days_ago = dt.datetime.now().date() - dt.timedelta(days=2)
today_date = dt.datetime.now().date()
start_date = dt.datetime.now().date()
end_date  = dt.datetime.now().date()

while start_date<= end_date:
    string_yesterday_date = str(start_date-dt.timedelta(days=1))
    string_two_days = str(start_date-dt.timedelta(days=2))
    for file in os.listdir('./data/cartera_red/'):
        if fnmatch.fnmatch(file, '*.xlsx'):
            if string_yesterday_date in str(file):
                file_to_insert ='./data/cartera_red/' +str(file)
                break
            else:
                file_to_insert = 'no_hay'

    df = pd.read_excel(file_to_insert,skiprows = 1)

    df.rename(columns = {'SUCURSAL':'sucursal','ID COORDINADOR':'id_coordinador','COORDINADOR':'coordinador',
                        'ID ASESOR':'id_asesor','ASESOR':'asesor','ID DIST.':'id_distribuidor',
                        'DISTRIBUIDOR':'distribuidor','F. AUT. LINEA':'fecha_aut_linea',
                        'F. ULT. INCREMENTO':'fecha_ult_incremento','NO. INCREMENTOS':'no_incrementos',
                        'LINEA DE CREDITO':'linea_de_credito','LINEA DISPUESTA $':'linea_dispuesta',
                        'DISPONIBLE':'linea_disponible','F. PRIMERA DISP.':'fecha_primera_disposicion',
                        'ASOCIADOS ACTIVOS':'asociados_activos','ASOCIADOS TOTALES':'asociados_totales',
                        'CAPITAL':'total_pagado_capital','INTERES':'total_pagado_interes','IVA INTERES':'total_pagado_iva_interes',
                        'SEGURO ASOCIADOS': 'total_pagado_seguro',
                        'SEGURO DISTRIBUIDOR': 'total_pagado_seguro_dist',
                        'SEGURO':'total_pagado_seguro','MULTAS':'total_pagado_multas','IVA MULTAS':'total_pagado_iva_multas',
                        'TOTAL PAGADO':'total_pagado','CAPITAL.1':'saldo_pendiente_capital','INTERES.1':'saldo_pendiente_interes',
                        'IVA INTERES.1':'saldo_pendiente_iva_interes',
                        'SEGURO ASOCIADOS.1': 'saldo_pendiente_seguro',
                        'SEGURO DISTRIBUIDOR.1': 'saldo_pendiente_seguro_dist',

                        'MULTAS.1':'saldo_pendiente_multas','IVA MULTAS.1':'saldo_pendiente_iva_multas',
                        'TOTAL PENDIENTE':'saldo_pendiente_total','F. ATRASO':'fecha_atraso','DIAS ATRASO':'dias_atraso',
                        'CAPITAL ATRASO':'capital_atraso','SALDO ATRASADO':'saldo_atraso','F. ULTIMO PAGO':'fecha_ultimo_pago',
                        'F. PROX. PAGO':'fecha_proximo_pago','SALDO ATRASADO.1':'proximo_pago_saldo_atrasado',
                        'IMPORTE PARTIDA':'proximo_pago_importe_partida','SEG. ASOC.':'proximo_pago_seguro asociados',
                        'SEG. DIST.':'proximo_pago_seguro_distribuidor','CREDITO PERSONAL':'proximo_pago_credito_personal',
                        'TOTAL PAGO SEMANAL':'proximo_pago_total_quincena','PAGO ANTICIPADO':'proximo_pago_anticipado',
                        'COMISION':'proximo_pago_comision','MORATORIOS':'proximo_pago_moratorios','MONTO DEPOSITAR':'proximo_pago_monto_depositar',
                        'F. REACTIVACION':'fecha_reactivacion','EMPLEADO ASESOR':'empleado_asesor','EMPLEADO COORD.':'empleado_coordinador',
                        'CONVENIO':'convenio','ESTATUS.':'status','REESTRUCTURADO':'reestructurado'
                        ,'TIPO DISTRIBUIDOR':'tipo_distribuidor'
                        }, inplace = True)


    df['fecha'] = string_yesterday_date
    df['Period'] = 'Mensual'
    df['fecha_siguiente'] = str(start_date)
    df['tipo_distribuidor'] = 'RED'
    # cambiar valor de fecha atraso para distribuidor que no funciona
    #print(df.loc[df.id_distribuidor ==51]["fecha_atraso"])
    
    
    #df.loc[df.id_distribuidor == 82634,"fecha_atraso"] = "1900-01-01"



    #df['ano_fecha'] = yesterday_date.year
    #df['mes_fecha'] = yesterday_date.month

    sqlEngine       = create_engine('mysql+pymysql://admin_volana:4dm1n.27*@159.89.90.197/volana', pool_recycle=3600)

    dbConnection    = sqlEngine.connect()
    # dbConnection.execute("Delete from cartera_distribuidor")
    if (start_date-dt.timedelta(days=1)).day != 1:
        result = dbConnection.execute("update cartera_distribuidor set Period = 'Diario' where fecha = '"+string_two_days+"'" )
        result_mm = dbConnection.execute("update cartera_mensual set Period = 'Diario' where fecha = '"+string_two_days+"'" )
        result_pd = dbConnection.execute("update pagos_desglosados set period = 'Mensual'")
        result_ia = dbConnection.execute("""update cartera_distribuidor cd
inner join (select id_distribuidor,year(fecha_aplicacion_pago) as aÃ±o_aplicacion,
month(fecha_aplicacion_pago) as mes_aplicacion, sum(importe_aplicado) as importe_aplicado,
count(*) as registros,
sum(comisiones) as comisiones,period
from pagos_desglosados
group by id_distribuidor, year(fecha_aplicacion_pago), month(fecha_aplicacion_pago), period
order by id_distribuidor, year(fecha_aplicacion_pago), month(fecha_aplicacion_pago))  
pd on pd.id_distribuidor = cd.id_distribuidor and pd.aÃ±o_aplicacion = year(cd.fecha) and pd.mes_aplicacion = month(cd.fecha) and cd.Period = pd.period
set cd.importe_aplicado = pd.importe_aplicado, cd.comisiones = pd.comisiones, cd.registros = pd.registros""")
        #result_pp = dbConnection.execute("update presupuesto set fecha_ppto = date(now()-INTERVAL 1 DAY) where  year(fecha_ppto) = year(now()-INTERVAL 1 DAY) and month(fecha_ppto) = month(now()-INTERVAL 1 DAY)")
        result_pt = dbConnection.execute("""
        update cartera_distribuidor cd
        left join
        (select fecha_planilla, fecha_siguiente,sucursal,
        count(distinct if(puesto = 'ASESOR VOLANACLUB' OR puesto = 'ASESOR VOLANA STEPA'
        or puesto = 'ASESOR DE CREDITO' OR puesto = 'PROMOTOR DE DISTRIBUIDORES',id,null)) as asesores,
        count(distinct if(puesto = 'COORDINADOR DE PRODUCTO',id,null)) as coordinadores
        from plantilla
        group by fecha_planilla, fecha_siguiente,sucursal
        order by fecha_planilla, fecha_siguiente,sucursal) pt on cd.sucursal = pt.sucursal
        and cd.fecha >= pt.fecha_planilla and cd.fecha<=pt.fecha_siguiente
        set cd.coordinadores = pt.coordinadores , cd.asesores = pt.asesores
        where  cd.fecha = '"""+string_yesterday_date+"""'
        """)

    try:
        frame   = df.to_sql('cartera_distribuidor', dbConnection, if_exists='append',index=False);
        result_w = dbConnection.execute("""
        update cartera_distribuidor
        set fecha_siguiente = LAST_DAY(fecha + INTERVAL 1 MONTH)
        where Period = 'Mensual'""")
        result_delete = dbConnection.execute("""delete from cartera_mensual where Period = 'Diario'""")
        result_insert = dbConnection.execute(""" insert into cartera_mensual 
                                            select * from cartera_distribuidor where fecha = '"""+string_yesterday_date+"""'
                
                """)
    except ValueError as vx:
        print(vx)
    except Exception as ex:
        print(ex)
    else:
        print("Table %s updated successfully."%'cartera_distribuidor_red'+str(start_date));
    finally:
        dbConnection.close()

    start_date+=dt.timedelta(days=1)

(pymysql.err.DataError) (1366, "Incorrect string value: '\\xEF\\xBF\\xBDBLE...' for column 'nombre_red' at row 13910")
[SQL:  insert into cartera_mensual
                                            select * from cartera_distribuidor where fecha = '2024-04-18'

                ]
(Background on this error at: https://sqlalche.me/e/14/9h9h)